body{
    background-color: #FFE4E1;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0, 0,0.3);
    font-size: 8vmin;
    color: dimgray;
    background-color: beige;
}

#btn{
    padding: 1rem;
    margin: 0.1rem;
    background-color: thistle;
    font-size: 2.5vmin;
    border-radius: 1rem;
    border: none;
    color: black;
}

#msg{
    color: rosybrown;
    font-size: 5vmin;
}

.msg{
    height: 10vmin;
}

#newbtn{
    padding: 1rem;
    margin: 0.1rem;
    background-color: thistle;
    font-size: 2.5vmin;
    border-radius: 1rem;
    border: none;
    color: black;
}

.hide{
    display: none;
}

